<div class="jumbotron">
    <h1>IoT Control App</h1>
    <p class="lead">
        Is a sample web app based on ASP.NET WebApi, ASP.NET MVC. Its purpouse is to control and monitor the IoT devices assembled during the IoT workshop.
    </p>
    <p>
        <a href="https://github.com/zarusz/training_iot" class="btn btn-primary btn-lg">Learn more &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>What is this ESP8266</h2>
        <ul>
            <li>It's a wireless SoC</li>
            <li>It has GPIO, I2C, ADC, SPI, PWM and some more</li>
            <li>It's running at 80MHz</li>
            <li>64KBytes of instruction RAM</li>
            <li>96KBytes of data RAM</li>
            <li>64KBytes boot ROM</li>
            <li>It has a Winbond W25Q40BVNIG SPI flash</li>
            <li>It's a RISC architecture</li>
            <li>The core is a 106micro Diamond Standard core (LX3) made by Tensilica</li>
            <li>The ESP8266 chip is made by Espressif</li>
            <li>Modules bearing this chip are made by various manufacturers</li>
        </ul>
        <p><a class="btn btn-default" href="https://github.com/esp8266/esp8266-wiki/wiki">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Technology stack</h2>
        <ul>
            <li>Owin</li>
            <li>Autofac</li>
            <li>ASP.NET MVC 5</li>
            <li>ASP.NET WebApi 2</li>
        </ul>
        <p><a class="btn btn-default" href="https://github.com/zarusz/training_iot" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
